{% extends "layout.html" %}

{% block title %}
    Item Details
{% endblock %}

{% block main %}

    <p>{{ reason }}</p>
    <table class='item_details'>
        <tr>
            <td>Item Name:</td>
            <td>{{ item[0] }}</td>
        </tr>
        <tr>
            <td>Item Type:</td>
            <td>{{ item[1] }}</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>{{ item[2] }}</td>
        </tr>
        <tr>
            <td>Detailed Info:</td>
            <td>{{ item[3] }}</td>
        </tr>
        <tr>
            <td>Date Added:</td>
            <td>{{ item[4] }}</td>
        </tr>
        <tr>
            <td>Last Updated:</td>
            <td>{{ item[5] }}</td>
        </tr>
        {% if item[6] != "None" %}
            <tr>
                <td>Date Recycled:</td>
                <td>{{ item[6] }}</td>
            </tr>
        {% endif %}
    </table>
    <div>
        <p></p>
    </div>
    {% if item[6] == "None" %}
        <form action="/move_to_recycle" method="post">
            <input type="hidden" name="item_name" value="{{ item[0] }}">
            <button class="btn btn-primary" type="submit">Move to Recycle Bin</button>
        </form>
    {% elif item[6] != "None" %}
        <form action="/remove_from_recycle" method="post">
            <input type="hidden" name="item_name" value="{{ item[0] }}">
            <button class="btn btn-primary" type="submit">Remove from Recycle Bin</button>
        </form>
    {% else %}
        <P></P>
    {% endif %}

{% endblock %}
