{% extends "layout.html" %}

{% block title %}
    Update Selection
{% endblock %}

{% block main %}

<form action="/update_item" method="post">
    <div">
        {{ item[0] }}
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="type" name="type" placeholder="Type of the item to add" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="location" name="location" placeholder="Location of the item to add" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="details" name="details" placeholder="Details of the item to add" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Update Item</button>
</form>

{% endblock %}
